name: Vercel Production Deployment
env:
  VERCEL_ORG_ID: team_Nhqf24Rxawm7ye0JjXaY155J
  VERCEL_PROJECT_ID: prj_ZlIK3rdJqsT8PwMXvWtu6vMxqYSb
  VERCEL_TOKEN: tA0H86qwCY7Z7DPLit27SRoH

on:
  push:
    branches:
      - main

jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ env.VERCEL_TOKEN }}
      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ env.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ env.VERCEL_TOKEN }}
